@{
    ViewData["Title"] = "NotFound";
}

<div class="jumbotron mt-5">
  <h1 class="display-4">Oopps. Page not found.</h1>
  <p class="lead">You're searching for a page that does not exists.</p>
  <hr class="my-4">
</div>