@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-2 justify-content-center">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h5>
                     <!-- ko if: vars.isMenuSelected() != null -->
                        <a href="javascript:void(0);" data-bind="click: event.clearMenu" class="badge badge-secondary">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    <!-- /ko -->
                    Simple Online Ordering App
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- ko if: vars.isMenuSelected() == null -->
                        <!-- ko foreach: vars.menuList -->
                        <div class="col-md-6 mt-2" data-bind="click: $root.event.selectMenu">
                            <div class="card card-default card-pointer">
                                <div class="card-header">
                                    <img data-bind="attr: { src: $root.event.menuHelper(name)}" class="img-fluid rounded" alt="">
                                    <hr>
                                    <h6 class="text-center" data-bind="text: name"></h6>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: vars.isMenuSelected() != null -->
                        <!-- ko foreach: vars.productList -->
                        <div class="col-md-6 mt-2" data-bind="click: $root.event.selectSubMenu">
                            <div class="card card-default card-pointer">
                                <div class="card-header">
                                    <img data-bind="attr: { src: $root.event.subMenuHelper(name)}" class="img-fluid rounded" alt="">
                                    <hr>
                                    <h6 class="text-center" data-bind="text: name"></h6>
                                    <h6 class="text-center" data-bind="text: accounting.formatMoney(price,'₱ ')"></h6>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    <!-- /ko -->
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <label>
                                    Current order:
                                </label>
                                <hr>
                                <table class="table table-borderless">
                                    <tr>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Subtotal</th>
                                        <th><br></th>
                                    </tr>
                                    <!-- ko foreach: vars.orderList -->
                                    <tr>
                                        <td data-bind="text: name"></td>
                                        <td data-bind="text: qty()"></td>
                                        <td data-bind="text: accounting.formatMoney(price, '')"></td>
                                        <td data-bind="text: accounting.formatMoney(subtotal(),'₱ ')"></td>
                                        <td>
                                            <a href="javascript:void(0);" data-bind="click: $root.event.increaseItem" class="badge badge-success">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a href="javascript:void(0);" data-bind="click: $root.event.reduceItem" class="badge badge-danger">
                                                <i class="fas fa-minus"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- ko if: vars.discount() != 0 -->
                                    <tr>
                                        <td><br></td>
                                        <td><br></td>
                                        <td>Discount: </td>
                                        <td data-bind="text: vars.discount() +'%'">
                                        </td>
                                        <td><br></td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- ko if: vars.orderList().length > 0 -->
                                    <tr>
                                        <td><br></td>
                                        <td><br></td>
                                        <td>Total: </td>
                                        <!-- ko if: vars.discount() != 0 -->
                                            <td data-bind="text: 
                                                            accounting.formatMoney(
                                                                vars.orderTotal() - ( vars.orderTotal() * (vars.discount() / 100)) 
                                                                ,'₱ ') + ' ( - ' + vars.orderTotal() * (vars.discount() / 100) + ' )'">
                                            </td>
                                        <!-- /ko -->
                                        <!-- ko if: vars.discount() == 0 -->
                                            <td data-bind="text: accounting.formatMoney(vars.orderTotal() ,'₱ ')">
                                            </td>
                                        <!-- /ko -->
                                        <td><br></td>
                                    </tr>
                                    <!-- /ko -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-2">
                            <div class="input-group">
                                <input type="text" data-bind="textInput: vars.coupon" placeholder="Place coupon codes" class="form-control" name="" id="">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="click" data-bind="click: event.validateCoupon">
                                        <i class="fas fa-plus" ></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block btn-lg">
                            <i class="fas fa-cart-plus"></i> PLACE ORDER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script src="~/js/index.js" type="module"></script>
}