@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-2 justify-content-center">
    @{Html.RenderPartialAsync("_PartialMenu.cshtml");}
    
    @{Html.RenderPartialAsync("_PartialPayment.cshtml");}
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script src="~/js/index.js" type="module"></script>
}